#!/bin/sh

[alias]
    br = branch
    ci = commit
    ca = !git add -A && git commit -av
    co = checkout
    up = pull
    rb = rebase
    ps = push
    pl = pull
    solve = mergetool --tool=vimdiff
    st = status -s -b -unormal
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    track = "git branch $(git rev-parse --abbrev-ref HEAD) --set-upstream-to origin/$(git rev-parse --abbrev-ref HEAD)"
    cleanup = git clean -df
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    df = diff --color --color-words --abbrev
    dh = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    dci = !"git --no-pager diff --patch-with-stat origin/$(git rev-parse --abbrev-ref HEAD)..HEAD"
    dlast = diff HEAD^
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --
    g = grep -I
    undopush = git push -f origin HEAD^:master
    hist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(cyan)%d%Creset %s' --all
    rank = shortlog --numbered --summary --email --no-merges --since='3 months'
    amend = commit --amend
    cp = cherry-pick -x
    snapshot = !git stash save "snapshot: $(date)" && git stash apply 'stash@{0}'
    snapshots = !git stash list --grep snapshot
[color]
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
[diff]
    # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
    # instead of a/b/c/d as prefixes for patches
    mnemonicprefix = true
    algorithm = patience
    new = green
[mergetool "vimdiff"]
    cmd = vim -d "$LOCAL" "$MERGED" "$REMOTE"
    trustExitCode = true
[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    whitespace = space-before-tab,indent-with-non-tab,trailing-space
[merge]
    log = true
    summary = true
    verbosity = 1
    tool = vimdiff
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[push]
    default = matching