[alias]
    br = branch
    ci = commit
    ca = !git add -A && git commit -av
    co = checkout
    up = pull
    rb = rebase
    ps = push
    pl = pull
    solve = mergetool --tool=kdiff3
    st = status -s -b -unormal
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    cleanup = !git clean -df && git stash clear
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    df = diff --color --color-words --abbrev
    dh = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    dc = diff --cached
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    dlast = diff HEAD^
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --
    g = grep -I
    undopush = git push -f origin HEAD^:master
    hist = log --graph --color=always --pretty='[%C(cyan)%h%Creset]%C(cyan)%d%Creset %s' --all
    who = shortlog --numbered --summary --email --no-merges --since="3 months"
    amend = commit --amend
    cp = cherry-pick -x
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    snapshots = !git stash list --grep snapshot
[color]
    ui = always
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    whitespace = space-before-tab,indent-with-non-tab,trailing-space
[diff]
    # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
    # instead of a/b/c/d as prefixes for patches
    mnemonicprefix = true
    algorithm = patience
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
    summary = true
    verbosity = 1
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[push]
    default = matching