"*":
  "exception-reporting":
    userId: "742c0d56-5eea-c837-2bbe-f6b9a5860774"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "Menlo"
    fontSize: 12
  linter: {}
  minimap:
    plugins:
      "highlight-selected": true
