packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "busy-signal"
  "docblockr"
  "ide-bash"
  "ide-vue"
  "intentions"
  "language-haml"
  "language-vue"
  "linter"
  "linter-eslint"
  "linter-haml"
  "linter-htmlhint"
  "linter-jsonlint"
  "linter-markdown"
  "linter-spell"
  "linter-stylelint"
  "linter-stylint"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "pigments"
  "seti-syntax"
  "seti-ui"
  "Stylus"
  "todo-show"
  "toggle-quotes"
]
